#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
    display: none !important;
}
.tabs-newtab-button {
    display: none !important;
}
#tabbrowser-tabs {
    max-height: 18px !important;
    min-height: 18px !important;
}
.tabbrowser-tab {
    max-width: 100% !important;
    min-width: 100% !important;
    max-height: 18px !important;
    min-height: 18px !important;
}
.tab-content {
    max-height: 18px !important;
    min-height: 18px !important;
}
.tabbrowser-tab[selected] .tab-line {
    display: none !important;
}

#nav-bar {
    max-height: 28px !important;
    min-height: 28px !important;
}
#back-button {
    max-height: 28px !important;
    min-height: 28px !important;
}
