#TabsToolbar {
  font-size:12px;
  min-height: 20px !important;
  max-height: 20px !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
#TabsToolbar .tabbrowser-tab {
  font-size: 12px;
  min-height: 20px !important;
  max-height: 20px !important;
  min-width: 100% !important;
  max-width: 100% !important;
}
#TabsToolbar .tabs-newtab-button {
  display: none !important;
}
#tabbrowser-tabs {
  --tab-line-color: none !important;
}
#TabsToolbar .tabbrowser-tab .tab-close-button {
  display: none !important;
}

#urlbar, .searchbar-textbox{
  font-size: 14px;
  min-height: 28px !important;
  max-height: 28px !important;
}

